/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
	width: 960px;
	position: relative;
	margin: auto;
	display: block;
}

#nav {
	position:absolute;
	left: 0px;
	top: 0px;
	width: 960px;
	background-color: black;
}
#nav ul li{
	list-style: ;
	float: left;
	display: inline;
	padding: 25px;
	text-align: center;
	background-color: black;
}
#nav a{
	font: 14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: white;
}

.ItemList a:link{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
#notes {
	position:relative;
	left: 10px;
	top: 2px;
}



#NoteText {
	position:relative;
	left: 20px;
	top: 2px;
}
.feature {
	position:absolute;
	left: 40%;
	top: 5px;

}


ul {
	float: left;
}
body {
	color: Black;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #f0f0f0;
}
h1 {
	color: black;
	font: bold 26px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
h2 {
	font: normal normal 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
	color: Black;
	font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
table, tr, td, th {
	border: 0;
	padding: 5px;
	text-align: left;
	
}	
a:link {
	color: Black;

	border: 2px solid # Black;}

/*form elements*/
input {
	padding: 2px;
	margin-bottom: 7px;
	margin-left: 0px;
	display: block;
	border-width: 1px;
}
label {
	font-size: 12px;
	font-weight: bold;
}
input.login {
	color:  Black;
	border: 0 solid;
	opacity: 0.71;
	width: 50%;
	position: absolute;
	right: 0px;
	bottom: 0px;}
input.signup {
	color:  Black;
	border: 0 solid;
	width: 50%;

	position: absolute;
	left: 0px;
	bottom: 0px;}
textarea {
	width: 300px;
	height: 100px;
	padding: 2px;
	margin-left: 21px;
	margin-top: 22px;
}

/*Layout*/
div.Login {
	color: Black;
	position: fixed;
	z-index: 1;
	font-size: 10px;
	width: 230px;
	height: 76px;
	top: 30%;
	left: 40%;
	border: 1px solid Black;
	padding: 5px;}
.NewItems {
	display: block;
	position: relative;
	top: 60px;
	height: 150px;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	padding-top: 30px;
	background-color: #00b6ff;
}

#ItemNote {
	width: 50%;
}
.NewItems h1 {
	color: black;
	font: bold 50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-left: 20px;
	padding-top: 10px;

}

.CurrentItems {
	position: absolute;
	top: 242px;
	padding: 19px;
	background-color: white;
	border: 1px solid #c8c8c8;

}
.ItemList {
	position: relative;
	top: 10px;
	width: 920px;
	color: black;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}
.totals {
	position: relative;
	top: 30px;


}
.totals p{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
}



div.SignUp {
	color: Black;
	position: fixed;
	z-index: 1;
	font-size: 10px;
	width: 350px;
	top: 30%;
	left: 37%;
	border: 0px;
	padding: 15px;}
div.Items {
	position: fixed;
}