
body 
{
	font-family: American Typewriter, Trajan Pro, Times New Roman;
	font-size: 10px;
	text-align: left;
	color: #424242;
	background-color: #efefef;
}

input
{
	color: gray;
	background-image: none;
	border: 1px double gray;
	font-family: American Typewriter, Trajan Pro, Times New Roman;
	font-size: 10px;
	background-color: #ececec;
	position: absolute;
	right: 2px;
}

input.login
{
	color: white;
	border: 0 solid;
	font: 10px "American Typewriter, Trajan Pro, Times New Roman";
	opacity: 0.71;
	width: 50%;
	background-color: #898989;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
	

input.signup
{
	color: white;
	border: 0 solid;
	font: 10px "American Typewriter, Trajan Pro, Times New Roman";
	opacity: 0.71;
	width: 50%;
	background-color: #898989;
	position: absolute;
	left: 0px;
	bottom: 0px;
	
}

a:link 
{
	color: #e3e6dc;
	background-color: #797979;
	border: 2px solid #c6ddb3;
}

h1 
{
	font-size: 20px;
	color: gray;
	font-weight: normal;
	font-style: normal;
}

h2 
{
	font-size: 18px;
	color: gray;
	font-weight: normal;
	font-style: normal;

}

p
{
	font-size: 10px;
	color: #787878;
}

table
{
	border: 1px dashed #d4d4d4;
}

div.Login
{
	color: gray;
	position: fixed;
	z-index: 1;
	font-size: 10px;
	width: 230px;
	height: 76px;
	top: 30%;
	left: 40%;
	border: 1px solid gray;
	padding-top: 0;
}

div.NewItems
{
	color: gray;
	background-color: #e6e6e6;
	position: fixed;
	z-index: 1;
	font-size: 14px;
	width: 237px;
	height: 320px;
	top: 50px;
	right: 50px;
	border: 1px solid #757575;
	text-align: left;
	margin-top: 0;
	opacity: 0.96;
}

textarea
{
	width: 230px;
	height: 100px;
	opacity: 0.45;
	padding: 3px;
	font-family: "American Typewriter, Trajan Pro, Times New Roman";
	color: #363636;
	background-color: #f5f5f5;
	border: 1px solid #a0a0a0;
}