<h1>Listing transfers</h1>

<table>
  <tr>
  </tr>

<% for transfers in @transfers %>
  <tr>
    <td><%= link_to 'Show', transfers %></td>
    <td><%= link_to 'Edit', edit_transfers_path(transfers) %></td>
    <td><%= link_to 'Destroy', transfers, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transfers', new_transfers_path %>
